.vs
MadPay724.Data/bin
MadPay724.Data/obj
MadPay724.Common/bin
MadPay724.Common/obj
MadPay724.Repository/bin
MadPay724.Repository/obj
MadPay724.Services/bin
MadPay724.Services/obj
MadPay724/bin
MadPay724/obj